@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "42dot Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-toast {
  display: flex;
  align-items: center;
  gap: 2px;
}

.toast-icon {
  margin-right: 0px;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #CACCCF;
  margin: 0 8px;
}

.toast-message {
  color: #082A4B;
  font-weight: 500;
  font-size: 13px;
}

/* Custom thin scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Keep the width */
  display: none; /* Hide scrollbar by default */
}

.custom-scrollbar:hover::-webkit-scrollbar {
  display: block; /* Show scrollbar on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}